@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --main-content-padding-left: 15rem;
    --main-content-padding-left-2: 15rem;
    --green: #70FF6D;
    --toggle-transition-time: .2s
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background: #3F3F3F;
}

a {
    color: #2fe435;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow-y: visible;

    background: #181818;
    padding: 1rem 5.5rem 1rem 5.6rem;
    align-items: center;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
}

.nav--brand {
    display: flex;
}

.nav--brand-logo {
    width: 6.5rem;
    height: 6.5rem;
    margin-right: 1rem;

    align-self: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.nav--brand-logo:hover {
    transition: all 1s ease;
    transform: scale(1.3);
}

.nav--brand-title {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: 0.3rem;

    text-transform: uppercase;
    align-self: center;

    color: white;
}

.nav--brand-title a {
    color: white;
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.nav--brand-title a:hover {
    font-size: 1.75rem;
    color: rgb(0, 255, 8);
    text-decoration: none;
    transition: all 1s ease;
}

.nav--items-desktop-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5rem;
}

.nav--items a {
    color: #A8EE8F;
    text-decoration: none !important;
    transition: all .55s ease;
}

.nav--items a:hover {
    color: #51ff11;
}

.nav--items li {
    text-align: center;
    text-transform: uppercase;
    list-style-type: none;
}

.nav--items-mobile .nav--mobile-bar {
    width: 1.5625rem;
    height: 0.1875rem;
    margin: 0.3125rem 0;
    transition: all 0.3s ease-in-out;
    background: white;
}

.nav--login-btn {
    width: 10.3rem;
    height: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;

    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;

    color: #027400;
    cursor: pointer;

    background: #FFFFFF;
    border: 3px solid #000000;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transition: all .55s ease;
}

.nav--login-btn:hover {
    transform: scale(1.1);
    background: #027400;
    color: white;
}

.nav--login-btn:hover img {
    filter: brightness(0%); 
}

.nav--login-btn img {
    width: 1.5rem;
    align-self: center;
}

.nav--login-btn p {
    color: black;
    align-content: center;
    align-self: center;
}

.nav--user {
    display: flex;
}

.nav--user-welcome {
    font-size: 1.25rem;
    align-self: center;
    text-align: center;
    margin-right: 1rem;
    pointer-events: none;
}

.nav--user-welcome span {
    color: #1fe25d;
}

.nav--user-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.nav--user-icon:hover {
    transform: scale(1.2);
}

.nav--user-popout {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all .25s ease-in-out;

    top: 9rem;
    right: 0;
    margin-right: 1.0625rem;
    width: 20.25rem;
    height: 22.625rem;
    opacity: 0;
    pointer-events: none;

    background: #242424;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.nav--user-popout.active {
    opacity: 1;
    transition: all .25s ease;
    pointer-events: all;
}

.nav--user-popout-icon {
    width: 7.47rem;
    border-radius: 50%;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
    margin: 1.875rem auto 0;
}

.nav--user-popout-icon-username {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.25rem;

    margin-top: 1rem;
    color: #04C800;
}

.nav--user-popout-options-container {
    margin-top: 1rem;
}

.nav--user-popout-options {
    list-style-type: none;
}

.nav--user-popout-options a, .nav--user-logout-option {
    color: white;
    text-decoration: none;
    cursor: pointer;

    font-size: 1.5rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
}

.nav--user-popout-options a:hover, .nav--user-logout-option:hover {
    color: var(--green);
    transition: all .2s ease-in;
}

.nav--user-popout-options hr {
    margin: .75rem auto;
    border: 1px solid #039400;
    width: 50%;
}

.hero {
    position: relative;
    padding-top: 9.875rem;
    padding-bottom: 9.4375rem;
    background: linear-gradient(180deg, #1F1F1F 0%, #00FF47 104.36%);
    text-align: center;
    overflow: hidden;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.vote-hero {
    position: relative;
    padding-top: 9.875rem;
    padding-bottom: 9.4375rem;
    background: linear-gradient(180deg, #1F1F1F 0%, #00FF47 104.36%);
    text-align: center;
    overflow: hidden;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.hero--title {
    text-transform: uppercase;
    transition: all 1s ease-in-out;
    font-weight: 700;
    font-size: 6rem;
    line-height: 7.5rem;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}

.hero--title:hover {
    color: #00c33e;
    transition: all .2s ease-in;
}

.hero--subtitle {
    max-width: 42.625rem;
    margin: auto auto 3.25rem;

    font-weight: 300;
    font-size: 2.25rem;
    line-height: 3.375rem;
}

.hero--buttons {
    display: flex;
    justify-content: center;
    gap: 2.8125rem;
}

.hero--button {
    padding: 0.625rem 2.25rem;

    background: linear-gradient(0deg, #039400 0%, #04C800 111.1%);
    border: 4px solid rgb(0, 121, 6);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    cursor: pointer;

    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1.75rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: all 1s ease;

    color: #FFFFFF;
}

.hero--button:hover {
    border: 4px solid rgb(192, 255, 195);
    transform: scale(1.25);
}

.hero--img-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.hero--img-button {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    gap: 1rem;

    font-size: 2rem;
}

.hero--img-button img {
    width: 16.5rem;
    border-radius: 15px;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.45));
    transition: all 1s ease-in-out;
}

.hero--img-button img:hover {
    transform: scale(1.1);
    transition: all 1s ease;
}

.aboutUs {
    background: #3F3F3F;
    padding: 5rem 12.6475rem 15rem var(--main-content-padding-left);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

    display: flex;
    overflow: hidden;
}

.aboutUs--img {
    width: 15rem;
    height: 15rem;
    align-self: center;
    margin-right: 6.125rem;
    filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.55));
}

.aboutUs--desc {
    overflow: auto;
}

.aboutUs--desc-title {
    font-weight: 500;
    font-size: 4rem;
    line-height: 6rem;
    text-transform: uppercase;
    color: var(--green);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
}

.aboutUs--desc-body {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.features {
    padding: 8.0625rem 2rem 15rem var(--main-content-padding-left);
    
    display: flex;
    overflow: hidden;

    background: #383838;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.features--images {
    position: absolute;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 3.75rem;
}

.features--images > img {
    position: relative;

    width: 17.75rem;
    height: 17.75rem;
    z-index: 0;
    transition: all .75s ease;

    box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    object-fit: cover;
    object-position: 10%;
}

.features--images > img:hover {
    z-index: 1;
    transform: scale(1.75);
}

.features--desc {
    position:relative;

    margin-left: 45.75rem;
    max-width: 41.0625rem;

    z-index: -1;
}

.features--desc h3 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 6rem;
    text-transform: uppercase;
    color: var(--green);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
}

.features--desc p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.features--desc ul {
    margin-top: 2.125rem;
    margin-left: -3.5rem;
    max-height: 27.75rem;
    max-width: 17.75rem;

    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.05em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1.125rem;
    column-gap: 0.5rem;
}

.features--desc li::marker {
    color: #05FF00;
}

.support {
    position: relative;
}

.support::before {
    background-image: url('https://i.robertify.me/images/qfyvl.png');
    background-color: #565656;
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50%;
    background-position-x: 100%;
    background-blend-mode: soft-light;
    width: 100%;

    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(20px);
    z-index: -1;
}

.support--items {
    display: flex;
    overflow: hidden;
    padding: 11.5rem 5.0625rem 13rem 13rem;

    /* backdrop-filter: blur(15px); */
}

.support--desc {
    margin-right: 2.375rem;
    max-width: 41.0625rem;
    max-height: 38.4375rem;
}

.support--desc-title {
    font-weight: 500;
    font-size: 4rem;
    line-height: 6rem;
    text-transform: uppercase;
    color: var(--green);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
}

.support--desc-body {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

.support img {
    box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.invite {
    padding: 7.4375rem;
    text-align: center;
    overflow: hidden;

    background: #383838;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.invite--icon {
    width: 10rem;
    filter: drop-shadow(0 4px 25px rgba(0, 0, 0, 0.55));
}

.invite--title {
    font-weight: 500;
    font-size: 4.375rem;
    line-height: 6.5625rem;
    text-transform: uppercase;
    color: var(--green);
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
}

.invite--body {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.25rem;

    max-width: 41.40875rem;
    max-height: 6.915625rem;

    margin: auto auto 1.5rem;
}

.invite a {
    padding: 0.625rem 2.25rem;

    background: linear-gradient(0deg, #039400 0%, #04C800 111.1%);
    border: 4px solid rgb(0, 121, 6);
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    cursor: pointer;

    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 1.75rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transition: all 1s ease;

    color: #FFFFFF;
}

.invite a:hover {
    border: 4px solid rgb(192, 255, 195);
}

footer {
    background-color: black;
    overflow: hidden;
    width: 100%;

    display: flex;
    justify-content: space-between;
    padding: 5.625rem 7rem;
}

.footer-brand {
    text-align: center;
}

.footer--info--resources-list li {
    list-style-type: none;
}

.footer--info--resources-list a {
    text-decoration: none;
    transition: all .1s ease-in-out;
}

.footer--info--resources-list a:hover {
    color: #93ff93;
    transition: all .1s ease-in-out;

}

.footer--logo {
    width: 7.25rem;
    height: 7.25rem;
}

.footer--logo-text {
    font-weight: 700;
    font-size: 4rem;
    line-height: 6rem;

    text-transform: uppercase;

    background: linear-gradient(270deg, #70FF6D 0%, #04CD00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer--links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.1875rem;
}

.footer--links img:hover {
    transition: all .5s ease;
    filter: brightness(200%);
}

.footer--links img {
    width: 2rem;
    transition: all .2s ease-in-out;
}

.footer--copyright {
    font-size: 1.25rem;
    line-height: 1.875rem;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #039400;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #292929;
}

/* Privacy Policy & TOS */
.plain_text {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 5.3125rem 0 5.13125rem 11.625rem;
}

.plain_text section {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 2rem;
    border-radius: 15px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
}

.plain_text h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3.75rem;
    color: #FFFFFF;

    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.plain_text p {
    margin-top: 1.625rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    width: 95%;
}

.plain_text--list-heading {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.2rem;
    color: #b8ffc0;
} 

.plain_text ol {
    margin-top: 1.25rem;
}

.plain_text li {
    list-style: none;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    width: 95%;
    padding-bottom: 2rem;
}

/* Commands */
.commands--about {
    display: flex;
    padding: 1.7rem 0 3.3rem 10rem;
    background-color: #242424;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.commands--about-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.commands--about-images img {
    width: 17rem;
    height: 17rem;

    object-fit: cover;
    transition: all 1.5s ease-in-out;

    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.35));
    border-radius: 25px;
}

.commands--about-images img:hover {
    transform: scale(1.35);
    transition: all 1.5s ease;
    z-index: 2;
}

.commands--about-desc {
    width: 40.125rem;
    margin-left: 5.5rem;
}

.commands--about-desc-title {
    margin-top: 5rem;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    color: #70FF6D;
}

.commands--about-desc-body {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-top: 2rem;
}

.commands {
    display: flex;
    flex-direction: column;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.robertify.me/images/s4o7q.png);
    background-size: cover;

    padding: 14rem;
}

.commands_table {
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;

    background: rgba(23, 23, 23, 0.5);
    box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.25);
}

.commands_table--heading {
    width: 25%;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;

    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.commands_table--row--data, .commands_table--heading {
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, .35);
}

.commands_table--row--data {
    padding: 1rem .5rem 1rem .5rem;
}

.commands-page-controllers, .commands-filter-controllers {
    display: flex;
    gap: .25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.commands-filter-controllers select {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #353535;
    border: none;
}

.commands-filter-controllers input[type=text] {
    padding-left: .5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
    background-color: #353535;
    border: none;
}

.commands-filter-controllers input[type=text]:focus, .commands-filter-controllers select:focus {
    outline: none;
}

.command-page-btn {
    padding: .15rem 1rem;
    border: none;
    transition: all .2s ease-in-out;
    cursor: pointer;

    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    background-color: #353535;
}

.command-page-btn.selected {
    background-color: #3c6b23;
}

.command-page-btn.selected:hover {
    background-color: rgb(88, 133, 64);
    transition: all .2s ease-in-out;
}

.command-page-btn:hover {
    background-color: #1e3611;
    transition: all .2s ease-in-out;
}

.four-o-four {
    padding: 4.89rem 0;
    text-align: center;
}

.four-o-four h1 {
    font-size: 8rem;
    font-weight: 700;
    line-height: 5rem;

    color: #00FF47;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.four-o-four h2 {
    font-size: 3rem;
    font-weight: 700;

    color: #ffffff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.four-o-four h3 {
    font-size: 2rem;
    font-weight: 500;

    color: #aeaeae;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.four-o-four p {
    font-size: 1.5rem;
    font-weight: 500;

    color: #8a8a8a;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Dashboard */
.guildCards--body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.robertify.me/images/s4o7q.png);
    background-size: cover;
    padding: 5rem 0 14rem;

    display: flex;
    flex-direction: column;
}

.guildCards--search {
    width: 50%;
    height: 4rem;
    align-self: center;
    margin-bottom: 2.5rem;
    padding: 1rem 1.5rem;

    font-size: 1.5rem;
    color: #ffffff;

    outline: none;
    background-color: #313131;
    border-radius: 10px;
    border: none;

    transition: all .25s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, .35);
}

.guildCards--search:focus {
    transition: all .25s ease-in;
    outline: #027400 solid 1px;
}

.guildCards {
    display: grid;
    justify-content: center;
    max-width: 100%;

    overflow: hidden;

    grid-template-columns: repeat(4, .22fr);
    gap: 1.5rem;
}

.guildCards--heading {
    text-align: center;
    text-transform: uppercase;

    color: var(--green);
    font-size: 3rem;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
}

.guildCards--subheading {
    text-align: center;
    font-style: italic;

    color: #a8a8a8;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
}

.guildCard {
    display: flex;
    overflow: hidden;

    width: 100%;
    height: 10rem;
    background: #303030;
    border-radius: 20px;
    border: rgba(0, 0, 0, 0) 0 solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, .35);

    transition: all .05s ease-in-out;
}

.guildCard:hover {
    transition: all .05s ease-in-out;
    border: rgba(178, 255, 177, 0.103) 2px solid;
}

.guildCard--banner {
    position: relative;
    width: 75%;
}

.guildCard--owner-container {
    position: absolute;
    top: 5%;
    left: 10%;
}

.guildCard--owner-tooltip {
    position: absolute;
    opacity: 0;
    background-color: #000000;
    border-radius: 9px;
    margin: .5rem;
    padding: .5rem;
    z-index: 2;
    pointer-events: none;

    transition: all .3s ease-in-out;
}

.guildCard--owner-container:hover .guildCard--owner-tooltip {
    opacity: 1;
    transition: all .3s ease;
}

.guildCard--owner-glyph {
    position: absolute;
    width: 1rem;
    height: 1rem;
    z-index: 1;
}

.guildCard--icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: rgba(0, 0, 0, 0.355) 1px solid;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, .35);
}

.guildCard--text {
    display: flex;
    flex-direction: column;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: .5rem;

    width: 100%;
}

.guildCard--name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2rem;
    margin: 2rem 0 0;

    pointer-events: none;
    font-size: 1rem;
}

.guildCard--text a {
    text-decoration: none;
    color: white;
    background-color: #039400;
    padding: .5rem;
    margin: 1rem auto 0;
    border-radius: 9px;
    width: 50%;
    box-shadow: 0 0 35px 5px rgba(0, 0, 0, .35);
    transition: all .1s ease-in-out;
}

.guildCard--text a:hover {
    transform: scale(1.05);
    transition: all .1s ease-in;
}

.serverDash {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.robertify.me/images/s4o7q.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serverDash--optionsContainer {
    margin: 3rem 0;
    width: 80%;
}

.serverDash--backLink {
    display: flex;
    transition: all 1s ease;
    gap: .5rem;
}

.serverDash--backLink a {
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.serverDash--backLink:hover {
    transform: scale(1.025);
    filter: brightness(200%);
    transition: all 1s ease;
    cursor: pointer;
}

.serverDash--backLink img {
    width: 1.5rem;
    text-decoration: none;
    transition: all 1s ease-in-out;
    align-self: center;
}

.serverDash--guildBanner {
    display: flex;
    background-color: #2e2e2e;
    border-radius: 5px;
    height: 10%;
    margin: 1rem 0;
    padding: 1rem 0;
    box-shadow: 0 0 35px 5px rgba(0, 0, 0, .25);

}

.serverDash--guildBanner img {
    width: 7.5rem;
    margin-left: 2rem;
    align-self: center;

    border-radius: 50%;
    border: 3px solid green;
    box-shadow: 0 0 35px 5px rgba(0, 0, 0, .55);
}

.serverDash--guildBanner h1 {
    align-self: center;
    margin-left: 2rem;

    font-size: 3rem;
    pointer-events: none;
}

.serverDash--controlPanel {
    position: relative;
    background-color: #2e2e2e;
    padding: 2rem 2.5rem;
    border-radius: 5px;
    box-shadow: 0 0 35px 5px rgba(0, 0, 0, .25);
}

.serverDash--divider {
    width: 100%;
    margin: 1rem auto;
    border: 1px solid #1f1f1f;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .15);
}

.serverDash--controlPanel-title {
    color: var(--green);
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, .25));
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.serverDash--controlPanel-toggles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    row-gap: 1rem;
    column-gap: 3%;

    margin-bottom: 3rem;
}

.serverDash--controlPanel-management {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5%;
    margin-bottom: 2rem;
}

.selectMenu {
    position: relative;
    transition: all var(--toggle-transition-time) ease-in-out;
}

.selectMenu.title {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

.selectMenu.subTitle {
    color: #8a8a8a;
}

.selectMenu.menu {
    display: flex;
    justify-content: space-between;

    background: #181818;
    width: 80%;
    padding: .75rem 1rem;
    margin: .5rem 0 .5rem;
    border-radius: 10px;
    cursor: pointer;

    filter: drop-shadow(0 0 4px rgba(0, 0, 0, .25));
}

.selectMenu.menu-selected {
    color: #aeaeae;
}

.selectMenu.menu img  {
    width: 1rem;
    height: 1rem;
    align-self: center;
}

.selectMenu.menu-optionsContainer {
    position: relative;
    visibility: hidden;
    z-index: 1;

    width: 80%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .1s ease-in-out;
}

.selectMenu.menu-optionsContainer.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: all var(--toggle-transition-time) ease-in-out;
}

.selectMenu.menu-options-search {
    position: absolute;
    z-index: 1;
    background: #181818;
    border: none;
    width: 100%;
    border-radius: 10px;
    padding: .75rem 1rem;
    margin: 0 0 .5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: white;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, .25));
}

.selectMenu.menu-options {
    position: absolute;
    margin-top: 4rem;
    z-index: 1;

    width: 100%;
    background: #181818;
    max-height: 20rem;
    overflow: auto;
    border-radius: 10px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, .25));
    transition: all var(--toggle-transition-time) ease-in-out;
}

.selectMenu.menu-options::-webkit-scrollbar {
    width: 0.45rem;
}

.selectMenu.menu-options::-webkit-scrollbar-thumb {
    background: #a9ffba;
    border-radius: 10px;
}

.selectMenu.menu-options::-webkit-scrollbar-track {
    background: #242424;
}

.selectMenu.optionCategory {
    color: gray;
    padding: 1rem 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: .75rem;
    pointer-events: none;
}

.selectMenu.option {
    padding: 1rem 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: white;
    pointer-events: all;
    text-transform: none;
}

.selectMenu.option:hover {
    background: #3b5c3728;
    transition: all var(--toggle-transition-time) ease-in-out;
}

.selectMenu.option-checkbox {
    width: 1rem;
    height: 1rem;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    align-self: center;
}

.selectMenu.option-checkbox.active {
    border: 1px solid var(--green);
    background-color: var(--green);
    filter: drop-shadow(0 0 3px rgba(75, 255, 55, 0.5));
}

.selectMenu.option.active {
    background-color: rgba(153, 255, 119, 0.061);
    filter: drop-shadow(0 0 5px rgba(75, 255, 55, 0.25));
}

.menu-glyph {
    width: 1rem;
    height: 1rem;
}

.serverDash--noPermsOverlay-bg {
    position: absolute;
    z-index: 1;
    opacity: 0.75;
    background-color: #181818;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: -2rem -2.5rem;
}

.serverDash--noPermsOverlay span {
    pointer-events: none;
    position: absolute;
    z-index: 2;
    
    color: white;
    background-color: rgb(54, 54, 54);
    padding: 2rem;
    width: 80%;
    border-radius: 10px;
    opacity: 1;
    box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.25);
}

.serverDash--footer-buttons {
    display: flex;
    gap: 1rem;
}

.serverDash--noPermsOverlay span .noPerms-permission {
    background-color: rgb(0, 0, 0);
    font-weight: 400;
    letter-spacing: .15rem;
    padding: .3rem;
    border-radius: 5px;
}

.serverDash--unsaved-buttons {
    display: flex;
    gap: 1rem;
}

.toggleComponentContainer {
    display: flex;
    justify-content: space-between;
}

.toggleComponent.toggleDesc {
    display: block;
    width: 70%;
}

.toggleComponent.toggleDesc-label { 
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

.toggleComponent.toggleDesc-subTitle { 
    color: #8a8a8a;
}

.toggle {
    width: 4rem;
    height: 2rem;
    background: #181818;
    border: 3px solid #181818;
    border-radius: 2rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .25));
    transition: all var(--toggle-transition-time) ease-in-out;
    cursor: pointer;
}

.toggle-knob {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background: rgb(197, 197, 197);
    transition: all var(--toggle-transition-time) ease-in-out;
    cursor: pointer;
}

.toggle.active {
    background: var(--green);
    border: 3px solid var(--green);
    transition: all var(--toggle-transition-time) ease-in-out;
}

.toggle-knob.active {
    margin-left: 50%;
    background: rgb(43, 43, 43);
    transition: all var(--toggle-transition-time) ease-in-out;
}

.button-md {
    display: flex;
    justify-content: space-evenly;
    border: none;
    padding: .45rem 1rem;
    width: 9.5rem;
    border-radius: 10px;

    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    transition: all .2s ease-in-out;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .35));
}

.button-md img {
    width: 1.25rem;
    height: 1.25rem;

    align-self: center;
    align-content: center;
    align-items: center;
}

.button-md:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.textOption.optionsContainer {
    background-color: #181818;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .35));
}

.textOption.optionContainer {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    border-bottom: 1px solid rgba(255, 255, 255, 0.055);
}

.textOption.optionContainer p {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 1rem;
}

.textOption.optionContainer:hover > img {
    opacity: 1;
}

.textOption.optionContainer img {
    opacity: 0;
    width: 1rem;
    height: 1rem;
    transition: all var(--toggle-transition-time) ease-in-out;
}

.textOption.optionContainer img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all var(--toggle-transition-time) ease-in-out;
}

.textOption.optionSubmitters {
    background-color: #444444;
    display: flex;
    justify-content: space-between;
    width: 80%;

    margin: 2rem auto;
    padding: 1rem;
    height: 3rem;
    

    border-radius: 10px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .35));
}

.textOption.optionSubmitters img {
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, .35));

    align-self: center;
}

.textOption.optionSubmitters img:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.textOption.optionSubmitters input[type=text] {
    background: none;
    border: none;
    color: white;

    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
}

.textOption.optionSubmitters input[type=text]:focus {
    outline: none;
}

.textOption.noResponses {
    padding: 2rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.textOption.error {
    color: #ff8484;
    text-align: center;
    font-weight: bold;
}

.danger {
    background-color: #ff5050;
    color: white;
}

.primary {
    background-color: #3c9a33;
    color: white;
}

.secondary {
    background-color: #494949;
    color: white;
}

.cursor-notAllowed {
    cursor: not-allowed !important;
    filter: brightness(60%);
}

.pointer-noEvents {
    pointer-events: none;
}

.banner-lg {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    font-weight: 400;
}

.banner-tiny {
    padding: .15rem;
    justify-content: space-between;
    width: 80%;
    border-radius: 3px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.25);
    font-size: .85rem;
    font-weight: 400;
}

.banner-lg p {
    align-self: center;
}

.marin-left-sm {
    margin-left: 2.5%;
}

.bg-green {
    background-color: #147600;
}

.bg-dark {
    background-color: #181818;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
}

.inactive {
    opacity: 0;
    pointer-events: none;
    transition: all .1s ease-in-out;
}

.active {
    opacity: 1;
    pointer-events: all;
    transition: all .1s ease-in-out;
}

.circle {
    border-radius: 50%;
    align-self: center;
}

.img-tiny {
    width: 2.5rem;
    height: 2.5rem;
}

.font-bold {
    font-weight: 700;
}

.font-med {
    font-weight: 500;
}

@media (min-width: 1700px) {
    .features--desc ul {
        margin-left: 3rem;
    }
}

@media (max-width: 1699px) {
    .features--desc ul {
        margin-left: 1rem;
        max-height: 25rem;
        max-width: 16rem;

        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .guildCards {
        grid-template-columns: repeat(4, .21fr);
        gap: 1.3rem;
    }
    
    .guildCard--text {
        margin-left: 0;
    }

    .guildCard--text a {
        margin: 1rem auto 0;
    }
}

@media (max-width: 1535px) {
    .nav--items-desktop-list {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .nav--user-icon {
        width: 3rem;
        height: 3rem;
    }

    .nav--items-mobile {
        display: none;
    }

    .nav--user-welcome {
        font-size: 1.1rem;
    }

    .hero {
        padding-bottom: 7rem;
    }

    .vote-hero {
        padding-bottom: 7rem;
    }

    .hero--title {
        font-size: 4.5rem;
        line-height: 4.5rem;
    }

    .hero--subtitle {
        max-width: 35.625rem;
        margin-bottom: 2rem;
        
        font-size: 1.75rem;
        line-height: 2.15rem;
    }

    .aboutUs {
        padding: 5rem 2rem 15rem var(--main-content-padding-left-2);
    }

    .features {
        padding: 8.0625rem 2rem 15rem 10rem;
        overflow: auto;
    }

    .features--desc ul {
        margin-left: 0;
        max-height: 15rem;
        max-width: 14.5rem;

        font-size: 1.05rem;
        line-height: 1rem;
    }

    .features--desc {
        max-width: 50rem;
    }

    .support--items {
        padding: 11.5rem 5.0625rem 13rem 3rem;
    }

    .support--desc-body {
        max-width: 43rem;
    }

    .support img {
        width: 45rem;
    }

    .plain_text {
        margin: 5.3125rem 0 5.13125rem 8rem;
    }

    .plain_text p, li {
        font-size: 1.25rem;
    }

    .guildCards {
        width: 100%;
        grid-template-columns: repeat(3, .5fr);
        gap: 1rem;
    }
}

@media (max-width: 1280px) {
    nav {
        padding: 1rem 0.5rem 1rem 2.5rem;
    }

    .nav--user-welcome {
        font-size: 1rem;
    }

    .hero--title {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    .hero--button {
        padding: 0.625rem 1.25rem;
    }

    .aboutUs {
        padding: 5rem 2rem 15rem 5rem;
    }

    .features {
        padding: 8.0625rem 2rem 15rem 5rem;
    }

    .features--images {
        gap: 2.5rem
    }

    .features--desc {
        margin-left: 41rem;
    }

    .features--desc ul {
        max-height: 20rem;
        max-width: 15rem;

        font-size: 1rem;
        line-height: 1.5rem;

        row-gap: 0.5rem;
        column-gap: 1rem;
    }
    
    .selectMenu.menu-options::-webkit-scrollbar {
        width: 0.25rem;
    }
    
    .selectMenu.option {
        padding: 1rem .75rem;
    }
}

@media (max-width: 1025px) {
    .nav--brand-logo {
        width: 4.85rem;
        height: 4.85rem;
    }

    nav {
        position: relative;
        z-index: 1;
    }

    .nav--div-1 {
        width: 10rem;
    }

    .nav--items {
        position: absolute;
        text-align: center;
        overflow: visible;
        width: 100%;
        left: 0;
        top: 5.25rem;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }

    .nav--items-desktop-list {
        display: grid;
        grid-template-columns: auto;
        background-color: #292929;
        position: absolute;
        overflow: visible;
        width: 100%;
        opacity: 0;
        transition: all 0.5s ease;
        pointer-events: none;
    }

    .nav--items-desktop-list.active {
        background: #292929;
        opacity: 1;
        transition: all 0.5s ease;
        pointer-events: all;
    }

    .nav--user-popout-icon {
        width: 6.47rem;
    }

    .nav--items-desktop-list li {
        display: table;
        line-height: 3.75rem;
        width: 100%;
        color: white;
    }

    .nav--items-desktop-list a {
        display: table;
        width: 100%;
    }

    .nav--items-desktop-list a:hover {
        background-color: #1F1F1F;
        transition: all 0.4s ease-out;
    }

    .nav--items-mobile {
        display: block;
        position: absolute;
        top: 1.75rem;
        right: 2rem;
    }

    .nav--mobile-bar {
        display: block;
        margin: 0;
    }

    .nav--items-mobile:hover {
        cursor: pointer;
    }

    .nav--items-mobile.is-active .nav--mobile-bar:nth-child(2) {
        opacity: 0;
    }

    .nav--items-mobile.is-active .nav--mobile-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .nav--items-mobile.is-active .nav--mobile-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav--user {
        position: relative;
        display: block;
    }

    .nav--user-welcome {
        position: absolute;
        opacity: 0;
    }

    .nav--user-icon {
        align-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }

    .nav--user-popout {
        top: 6.5rem;
        width: 15.25rem;
        height: 18.625rem;
    }

    .nav--user-popout-options a, .nav--user-logout-option {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .nav--user-popout-options hr {
        margin: .25rem auto;
    }

    .hero--button {
        padding: 0.625rem 1.15rem;
        border-radius: 9px;
    }

    .aboutUs {
        display: block;
        text-align: center;
    }

    .aboutUs--img {
        margin: auto;
        width: 15rem;
        height: 15rem;
    }
    
    .features {
        padding: 8.0625rem 2rem 15rem 5rem;
        display: flex;
        flex-direction: column;
    }

    .features--images {
        position: relative;
    }

    .features--images > img {
        position: relative;
    }

    .features--images > img:hover {
        transform: scale(1.45);
    }

    .features--desc {
        margin: 1rem auto auto;
        max-width: fit-content;
    }

    .features--desc ul {
        max-width: 20rem;
        max-height: 27rem;

        font-size: 1.75rem;
        line-height: 1.85rem;

        column-gap: 3.25rem;
        row-gap: 1rem;
    }

    .support--items {
        display: block;
    }

    .support--items img {
        margin: auto;
    }

    .support--desc {
        margin: auto auto 2.5rem;
    }

    .commands--about {
        padding: 1.7rem 0 3.3rem 1.5rem;
    }

    .commands--about-images {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .commands--about-images img {
        width: 10rem;
        height: 10rem;
    
        object-fit: cover;
        transition: all 1.5s ease-in-out;
    
        filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.35));
        border-radius: 25px;
    }
    
    .commands--about-images img:hover {
        transform: scale(1.35);
        transition: all 1.5s ease;
        z-index: 2;
    }

    .commands--about-desc {
        width: 40.125rem;
        margin-left: 2rem;
    }

    .commands {    
        padding: 7rem;
    }

    .guildCards--search {
        width: 70%;
    }

    .guildCard--icon {
        width: 100%;
        /* height: 50%; */
        object-fit: cover;
    }

    .guildCard--name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 .5rem;
        margin: 2rem 0 0;
    
        pointer-events: none;
        font-size: 1rem;
    }
    
    .guildCard--text a {
        width: 80%;
    }

    .guildCards {
        width: 100%;
        grid-template-columns: repeat(2, .5fr);
        gap: 1rem;
    }

    .serverDash--controlPanel-toggles {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fill, 1fr);
        row-gap: 1rem;
        column-gap: 3%;
    
        margin-bottom: 3rem;
    }

    .selectMenu.option {
        padding: 1rem .75rem;
        font-size: .75rem;
    }

    .selectMenu.option p {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .selectMenu.optionCategory {
        color: gray;
        padding: 1rem 1rem;
        font-size: .55rem;
    }
    
    .selectMenu.option-checkbox {
        width: .75rem;
        height: .75rem;
    }

    .banner-lg {
        font-size: .75rem;
    }

    .button-md {
        padding: .45rem 1rem;
        width: 7rem;
        font-size: 1rem;
    }
    
    .button-md img {
        width: 1rem;
        height: 1rem;
    }
}

@media (max-width: 615px) {
        .nav--brand-logo {
            width: 4.5rem;
            height: 4.5rem;
        }

        .nav--brand-title {
            font-size: 1rem;
            line-height: 1.15rem;
            letter-spacing: 0.1rem;
        }

        .nav--div-1 {
            width: 7rem;
        }

        .nav--mobile-bar {
            margin: 0;
            padding: 0;
        }

        .nav--items-mobile {
            width: auto;
            margin: 0;
        }

        .hero {
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 4rem;
        }

        .vote-hero {
            padding-left: 2rem;
            padding-right: 2rem;
            padding-bottom: 10rem;
        }

        .hero--title {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
        
        .hero--subtitle {
            max-width: 35.625rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
            
            font-size: 1.5rem;
            line-height: 2.15rem;
        }

        .hero--buttons {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: auto;
        
            width: 50vw;
        }

        .hero--button {
            padding: 0.425rem 1.15rem 0.1rem;

            font-size: 1rem;
            border-radius: 9px;
            border: 2px solid rgb(0, 121, 6);
        }
        
        .hero--button:hover {
            border: 2px solid rgb(192, 255, 195);
            transform: scale(1.25);
        }

        .aboutUs {
            padding: 2.5rem;
        }
        
        .aboutUs--desc-title {
            font-size: 2.5rem;
            line-height: 5.5rem;
            text-align: left;

        }

        .aboutUs--desc-body {
            font-size: 1rem;
            text-align: left;
        }

        .features {
            padding: 2.5rem;
        }

        .features--images > img {
            width: 8.5rem;
            height: 8.5rem;
        }
        
        .features--desc > h3 {
            font-size: 2.5rem;
            line-height: 4rem;
        }

        .features--desc > p {
            font-size: 1rem;
        }

        .features--desc li {
            font-size: .75rem;
            line-height: .75rem;
        }

        .support--items {
            padding: 2rem;
        }

        .support--desc-title {
            font-size: 2.5rem;
            line-height: 4rem;
        }

        .support--desc-body {
            font-size: 1rem;
            line-height: 1.75rem;
        }

        .support img {
            width: 22.5rem;
        }

        .invite {
            padding: 2rem;
        }
        
        .invite--icon {
            width: 8rem;
        }
        
        .invite--title {
            margin-top: 1rem;
            font-size: 2.15rem;
            line-height: 2.75rem;
        }

        .invite--body {
            font-size: 1rem;
            line-height: 1.75rem;
        }

        .invite a {
            padding: .75rem 2rem;
            font-size: 1rem;
            border: 2px solid rgb(0, 121, 6);
        }

        .invite a:hover {
            border: 2px solid rgb(192, 255, 195);
        }

        footer {
            padding: 2rem;
        }

        .footer--logo {
            width: 3rem;
            height: 3rem;
        }

        .footer--logo-text {
            font-size: 1.5rem;
            line-height: 1rem;
        }

        .footer--copyright {
            font-size: .55rem;
            line-height: 1.25rem;
        }

        .footer--links {
            margin-top: 0.5rem;
        }

        .footer--links img {
            width: 1.5rem;
            height: 1.5rem;
        }

        .footer--info--resources-list a {
            font-size: .75rem;
        }

        .plain_text {
            margin: 5.3125rem 0 5.13125rem 2rem;
        }
        
        .plain_text section {
            width: 95%;
        }

        .plain_text p, .plain_text li {
            font-size: 1rem;
        }

        .commands--about-desc-title {
            margin-top: 1rem;
            font-size: 1.5rem;
            line-height: 2rem;
        }
        
        .commands--about-desc-body {
            font-size: 1rem;
            line-height: 1.5rem;
            margin-top: 2rem;
        }
        
        .commands {
            padding: 2rem 1rem;
        }
        
        .commands_table {
            table-layout: fixed;
            border: 1px solid black;
            border-collapse: collapse;
        
            background: rgba(23, 23, 23, 0.5);
            box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.25);
        }
        
        .commands_table--heading {
            padding: .5rem;
        
            font-weight: 700;
            font-size: .75rem;
            line-height: 1.5rem;
        }
        
        .commands_table--row--data {
            padding: .25rem .5rem .25rem .5rem;
            font-size: .75rem;
        }

        .commands-filter-controllers select {
            width: 8rem;
        }
        
        .commands-filter-controllers input[type=text] {
            width: 7.5rem;
        }

        .vote-hero img {
            width: 7.5rem;
            height: 7.5rem;
        }

        .vote-hero .hero--img-button {
            font-size: 1rem;
        }

        .guildCard {
            display: flex;
            flex-direction: column;
        }

        .guildCard--banner {
            width: 100%;
            height: 45%;
        }

        .guildCard--icon {
            /* width: 100%; */
            /* height: 35%; */
            object-fit: cover;
            border: rgba(0, 0, 0, 0.355) 1px solid;
        
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 0;
        
            box-shadow: 0 4px 10px rgba(0, 0, 0, .35);
        }
        
        .guildCard--text {
            display: flex;
            flex-direction: column;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: .5rem;
        
            width: 100%;
        }
        
        .guildCard--text {
            display: flex;
            flex-direction: column;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: .1rem;
        
            width: 100%;
        }

        .guildCard--name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 2rem;
            margin: .5rem 0 0;
        
            pointer-events: none;
            font-size: 1rem;
        }
        
        .guildCard--text a {
            text-decoration: none;
            color: white;
            background-color: #039400;
            margin: auto;
            padding: .5rem ;
            font-size: .8rem;
            border-radius: 9px;
            width: 50%;
            box-shadow: 0 0 35px 5px rgba(0, 0, 0, .35);
            transition: all .1s ease-in-out;
        }
        
        .guildCard--text a:hover {
            transform: scale(1.05);
            transition: all .1s ease-in;
        }

        .guildCards {
            width: 100%;
            grid-template-columns: repeat(1, .75fr);
            gap: 1rem;
        }

        .serverDash--guildBanner h1 {
            align-self: center;
            margin-left: 1rem;
        
            font-size: 1.5rem;
            pointer-events: none;
        }

        .serverDash--controlPanel-management {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 0;
            margin-bottom: 2rem;
        }

        .serverDash--controlPanel-toggles {
            grid-template-columns: repeat(1, 1fr);
        }

        .serverDash--footer-buttons {
            display: flex;
            justify-content: center;
        }

        .banner-lg {
            width: 95%;
            font-size: .75rem;
        }
    
        .button-md {
            padding: .45rem 1rem;
            width: 5rem;
            font-size: .75rem;

            align-items: center;
        }
        
        .button-md img {
            width: .75rem;
            height: .75rem;
        }
}